.recipe-item{
    background-color: rgb(234, 255, 233);
    margin: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    box-shadow:1px 2px 10px 2px  rgb(214, 214, 214);
    background-color:rgb(250, 250, 250);
    min-width: 500px;
    max-width: 700px;
    flex:1 ;
}
img{
    width:100px;
    height: 100px;
    float: left;
    margin-left: -5px;
    box-shadow:1px 5px 20px -5px  black;
}
.recipe-main{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.recipe-top-pane{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.recipe-middle-pane{
    align-items: stretch;
    display: flex;
    flex-direction: row;
}
.recipe-right-pane{
    align-self: flex-end;
    display: none;
}
.recipe-bottom-pane{
    width: 100%;
    justify-content: left;
    
}
.ingridient{
    padding: 2px 5px 2px 5px;
    list-style-type: none;
}