.recipe-item{
    width: 80%;
    background-color: cornsilk;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px rgb(114, 114, 114) solid;
    border-radius: 10px;
}
img{
    width:100px;
    height: 100px;
    float: left;
    margin-left: -5px;
    box-shadow:1px 5px 20px -5px  black;
}
.recipe-main{
    display: flex;
    flex-direction: row;
    text-align: left;
}
.recipe-top-pane{
    width: 100%;
    height: 50px;
}
.recipe-middle-pane{
    align-items: stretch;
    display: flex;
    flex-direction: row;
}
.recipe-right-pane{
    align-self: flex-end;
    display: none;
}
.recipe-bottom-pane{
    width: 100%;
    justify-content: left;
    
}
