.search-input {
  display: flex;
  border: none;
  text-align: left;
  height: 30px;
  padding: 5px 5px 5px 15px;
  margin-left:20px;
  border-bottom: 1px solid rgb(2, 66, 0);
  width: 100%;
  font-size: 15px;
  background-color: transparent;
}
.search-bar {
  width: 100%;
  height: auto;
  display: flex;
  margin: 5px;
  justify-content: left;
}
.search-bar button {
  margin-right: 5px;
  gap: 5px;
  border-radius: 10px;
  border-color: transparent;
  color: rgb(2, 66, 0);
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 0;
}
.search-bar button:hover {
  color: #fff;
  background-color: rgb(2, 66, 0);
}
