.recipes-list {
  background-color: rgb(223, 223, 223);
  padding-top: 50px;
  padding-left:100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 200px;
  grid-row-gap: 10px;
}
