.shopping-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
    position: fixed;
    background-color: cornsilk;
}